In [1]:
# Dependencies
import pandas as pd
import requests
import json

In [2]:
MergedDF=pd.read_csv('../Project 1/Boot-Camp-Group-Project1/MergedDF.csv')
MergedDF

,Unnamed: 0,RegionID_zhviAll,RegionName,City_zhviAll,State_zhviAll,Metro_zhviAll,CountyName_zhviAll,SizeRank_zhviAll,1996-04_zhviAll,1996-05_zhviAll,...,2018-09_Mediansqftrent,2018-10_Mediansqftrent,2018-11_Mediansqftrent,2018-12_Mediansqftrent,2019-01_Mediansqftrent,2019-02_Mediansqftrent,2019-03_Mediansqftrent,2019-04_Mediansqftrent,2019-05_Mediansqftrent,2019-06_Mediansqftrent
0,0,69816.0,28269,Charlotte,NC,Charlotte-Concord-Gastonia,Mecklenburg County,32.0,130694.0,131261.0,...,0.758,0.758,0.764,0.770,0.776,0.780,0.782,0.782,0.786,0.792
1,1,69823.0,28277,Charlotte,NC,Charlotte-Concord-Gastonia,Mecklenburg County,55.0,192153.0,192630.0,...,0.826,0.828,0.828,0.830,0.830,0.830,0.832,0.836,0.842,0.852
2,2,69672.0,28027,Concord,NC,Charlotte-Concord-Gastonia,Cabarrus County,85.0,140395.0,141002.0,...,0.766,0.768,0.776,0.786,0.796,0.800,0.802,0.806,0.812,0.822
3,3,69431.0,27587,Wake Forest,NC,Raleigh,Wake County,138.0,206263.0,206913.0,...,0.768,0.770,0.770,0.770,0.768,0.770,0.770,0.772,0.772,0.776
4,4,69699.0,28078,Huntersville,NC,Charlotte-Concord-Gastonia,Mecklenburg County,183.0,176002.0,176147.0,...,0.758,0.758,0.762,0.768,0.770,0.772,0.772,0.774,0.778,0.782
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
790,790,69643.0,27972,Salvo,NC,Kill Devil Hills,Dare County,30205.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
791,791,69651.0,27982,Rodanthe,NC,Kill Devil Hills,Dare County,30316.0,218257.0,212818.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
792,792,69492.0,27708,Durham,NC,Durham-Chapel Hill,Durham County,30392.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
793,793,NaN,27960,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
794,794,NaN,28020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.692,0.698,0.700,0.700,0.698,0.698,0.698,0.698,0.690,0.686

In [3]:
BreweryDF=pd.read_csv('../Project 1/Boot-Camp-Group-Project1/Brewery_DistilleryData.csv')
BreweryDF

,#,File Number,Trade Name,Corp Name,Business Status,Address,City,State,Zip,Mail Address,Mail City,Mail State,Mail Zip,County,Permit Number,Issue Date,Permit Status
0,1.0,-,Ivory Tower Brewery,Appalachian State University,Withdrawn,775 Bodenheimer Drive,Boone,NaN,28608,PO Box 32066,Boone,NC,28608,Watauga,NaN,NaN,NaN
1,2.0,-,Trophy Brewing,Grain Raleigh LLC,Withdrawn,827 West Morgan Street,Raleigh,NaN,27603,NaN,NaN,NaN,NaN,Wake,NaN,NaN,NaN
2,3.0,-,Hosanna Brewing Company,Hosanna Brewing Company,Withdrawn,2912 North Main Street Unit 100,Fuquay Varina,NaN,27526,NaN,NaN,NaN,NaN,Wake,NaN,NaN,NaN
3,4.0,-,Tryon Back Door Distillery,Tryon Back Door Distillery LLC,Withdrawn,77 Maple Street,Tryon,NaN,28782,318 Springbrook Drive,Columbus,NC,28722,Polk,NaN,NaN,NaN
4,5.0,-,Blackjack Brewing Company,Blackjack Brewing Company LLC,Withdrawn,1053 East Whitaker Mill Suite 101,Raleigh,NaN,27604,NaN,NaN,NaN,NaN,Wake,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1633,608.0,0554CM-999,Hops Restaurant Bar and Brewery,Hops of Matthews Limited,Cancelled,9950 East Independence Blvd,Matthews,NaN,28105,150 Hancock Street,Madison,GA,30650,Mecklenburg,0554BM,5/16/1997,Cancelled
1634,609.0,0556CM-999,Laughing Seed Cafe,Laughing Seed Inc,Cancelled,40 Wall Street,Asheville,NaN,28801,NaN,NaN,NaN,NaN,Buncombe,0556BM,7/28/1997,Cancelled
1635,NaN,0556CM-999,Laughing Seed Cafe,Laughing Seed Inc,Cancelled,40 Wall Street,Asheville,NaN,28801,NaN,NaN,NaN,NaN,Buncombe,0556BW,12/8/1997,Cancelled
1636,610.0,0557CM-998,Main Street Beer Company,Williamsville Brewery Limited,Cancelled,804 West Pine Street,Farmville,NaN,27828,1911 West Main Street,Richmond,VA,23220,Pitt,00102626BW,3/7/2001,Cancelled
1637,NaN,0557CM-998,Main Street Beer Company,Williamsville Brewery Limited,Cancelled,804 West Pine Street,Farmville,NaN,27828,1911 West Main Street,Richmond,VA,23220,Pitt,00102626BM,3/7/2001,Cancelled

In [84]:
zhviAll1=[]
Mediansqft1=[]
Median1=[]
Mediansqftrent1=[]
zhviAll5=[]
Mediansqft5=[]
Median5=[]
Mediansqftrent5=[]

dfnames=["zhviAll",
         "Mediansqft",
         "Median",
         "Mediansqftrent",
         "zhviAll",
         "Mediansqft",
         "Median",
         "Mediansqftrent"]

listnames=['zhviAll1',
        'Mediansqft1',
        'Median1',
        'Mediansqftrent1',
        'zhviAll5',
        'Mediansqft5',
        'Median5',
        'Mediansqftrent5'
        ]
lists=[zhviAll1,
        Mediansqft1,
        Median1,
        Mediansqftrent1,
        zhviAll5,
        Mediansqft5,
        Median5,
        Mediansqftrent5
        ]

In [85]:
breweries=["UNCC Bar", "OMB", "Lenny Boy"]
years=['2012','2015','2007']
months=['05','09','01']
zips=[28269,28277,28027]
BrewData={'Breweries':breweries,
         'Year':years,
         'Month':months,
         'Zip':zips}
BrewDF=pd.DataFrame(BrewData)
BrewDF

   Breweries  Year Month    Zip
0   UNCC Bar  2012    05  28269
1        OMB  2015    09  28277
2  Lenny Boy  2007    01  28027

In [86]:
l=3
i=0
year=BrewDF.loc[i,'Year']
year1=int(BrewDF.loc[i,'Year'])+1
month=BrewDF.loc[i,'Month']
y=float(MergedDF.loc[MergedDF['RegionName']==BrewDF.loc[i,'Zip'],f'{year}-{month}_{dfnames[l]}'])
print(f'{year}-{month}_{dfnames[l]}')
print(y)

2012-05_Mediansqftrent
0.624

In [87]:
for l in range(len(lists)):
    for i in range(len(BrewDF)):
        try:    
            year=BrewDF.loc[i,'Year']
            year1=int(BrewDF.loc[i,'Year'])+1
            month=BrewDF.loc[i,'Month']
            print(l,i,year, year1, month) #these are for debugging to see where the loop went wrong
            y=float(MergedDF.loc[MergedDF['RegionName']==BrewDF.loc[i,'Zip'],f'{year}-{month}_{dfnames[l]}'])
            print(l,i,'2',y) #these are for debugging to see where the loop went wrong
            y1=float(MergedDF.loc[MergedDF['RegionName']==BrewDF.loc[i,'Zip'],f'{year1}-{month}_{dfnames[l]}'])
            print(l,i,y,y1) #these are for debugging to see where the loop went wrong
            D1=(y1/y)-1
            lists[l].append(D1)
        except:
            lists[l].append('You Suck')
    BrewDF[listnames[l]]=lists[l]
BrewDF

0 0 2012 2013 05
0 0 2 138142.0
0 0 138142.0 142965.0
0 1 2015 2016 09
0 1 2 303118.0
0 1 303118.0 319926.0
0 2 2007 2008 01
0 2 2 201170.0
0 2 201170.0 209313.0
1 0 2012 2013 05
1 0 2 75.3221649484536
1 0 75.3221649484536 82.73121699441421
1 1 2015 2016 09
1 1 2 132.831272793656
1 1 132.831272793656 136.616988344513
1 2 2007 2008 01
2 0 2012 2013 05
2 0 2 139900.0
2 0 139900.0 156495.0
2 1 2015 2016 09
2 1 2 362000.0
2 1 362000.0 359046.0
2 2 2007 2008 01
3 0 2012 2013 05
3 0 2 0.624
3 0 0.624 0.6459999999999999
3 1 2015 2016 09
3 1 2 0.8220000000000001
3 1 0.8220000000000001 0.838
3 2 2007 2008 01
4 0 2012 2013 05
4 0 2 138142.0
4 0 138142.0 142965.0
4 1 2015 2016 09
4 1 2 303118.0
4 1 303118.0 319926.0
4 2 2007 2008 01
4 2 2 201170.0
4 2 201170.0 209313.0
5 0 2012 2013 05
5 0 2 75.3221649484536
5 0 75.3221649484536 82.73121699441421
5 1 2015 2016 09
5 1 2 132.831272793656
5 1 132.831272793656 136.616988344513
5 2 2007 2008 01
6 0 2012 2013 05
6 0 2 139900.0
6 0 139900.0 156495.0
6 1 2015 2016 09
6 1 2 362000.0
6 1 362000.0 359046.0
6 2 2007 2008 01
7 0 2012 2013 05
7 0 2 0.624
7 0 0.624 0.6459999999999999
7 1 2015 2016 09
7 1 2 0.8220000000000001
7 1 0.8220000000000001 0.838
7 2 2007 2008 01

,Breweries,Year,Month,Zip,zhviAll1,Mediansqft1,Median1,Mediansqftrent1,zhviAll5,Mediansqft5,Median5,Mediansqftrent5
0,UNCC Bar,2012,05,28269,0.034913,0.0983648,0.11862,0.0352564,0.034913,0.0983648,0.11862,0.0352564
1,OMB,2015,09,28277,0.055450,0.0285002,-0.00816022,0.0194647,0.055450,0.0285002,-0.00816022,0.0194647
2,Lenny Boy,2007,01,28027,0.040478,You Suck,You Suck,You Suck,0.040478,You Suck,You Suck,You Suck

###Here down is old code that Doesn't really work